<div class="row">

    <div class="col-6 mx-auto">
        <h3 class="notEaten">Burgers to Eat</h3>

        <ul class="p-1" style="list-style-type: none;">
            {{#each burgers}}
            {{#unless devoured}}
            <p class="bg-secondary p-1 border">{{id}} - {{burger_name}}</p>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6 mx-auto">
        <h3 class="eaten">Eaten</h3>

        <ul class="p-1" style="list-style-type: none;">
            {{#each burgers}}
            {{#if devoured}}
            <p class="bg-secondary p-1 border">{{id}} - {{burger_name}}</p>
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <form class="create-form mx-auto">
        <div class="form-group">
            <textarea type="text" id="food" name="burger_name"></textarea>
        </div>
        <button id="subBtn" class="mx-auto" type="submit">Add Burger</button>
    </form>

</div>